body, html {
    height: 100vh;
    width: 100%;
    margin: 0;
}

#chat-window {
    backdrop-filter: blur(10px);
    width: 95%;
    margin: auto;
    overflow-y: scroll;
    height: 60vh;
}

.response {
    max-width: 50%;
    margin: 1rem;
}

#user-response-form {
    backdrop-filter: blur(8px);
    margin-top: 0;
    width: 95%;
    margin: auto;

    div {
        position: relative;
    }
}

#user-text-input {
    resize: none;
    width: 95%;
    margin: auto;
    height: auto;
}

#submit-user-input {
    position: absolute;
    bottom: 60px;
    right: 40px;
}

body {
    position: relative;
    background-image:
        linear-gradient(to bottom, #ffffff 0%, transparent 45%),
        url("./images/scenery-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    /* Fade in */
    animation: fadeIn 2s ease forwards;
    opacity: 0;
}

body::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, #ffffff 0%, transparent 45%);
    z-index: 1;
}

.container, 
header, 
.d-flex, 
#chat-window {
    position: relative;
    z-index: 2;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#start-button {
    position: absolute;
    bottom: 50vh;
}