#chat-window {
    width: 95%;
    overflow-y: scroll;
    height: 55vh;
}

.response {
    max-width: 50%;
    width: auto;
    margin: 0;
}

.user-response {
    float: right;
}

.system-response {
    float: left;
}

#user-response-form {
    margin-top: 0;
    width: 95%;

    div {
        display: flex;
        justify-content: center;
    }
}

#user-text-input {
    resize: none;
    width: 95%;
}